<div  *ngIf="usuarioLogeado && !mostrarChat" class="chatIconContainer" (click)="mostrarChat=true">
  <img src="../../../assets/chat.png" class="chatIcon" alt="chat-Icon">
</div>
<div class="card text-center cardContainer" *ngIf="usuarioLogeado && mostrarChat">
  <div class="card-header">CHAT <div class="closeIcon" (click)="mostrarChat=false">X</div></div>
       
  <div class="card-body">
    <div id="contenedorDeMensaje" class="contenedorDeMensaje" style="height: 390px; overflow-y: scroll;">
      <div *ngFor="let mensaje of messages" class="msj p-2 mb-2"
         [ngClass]=" (usuarioLogeado.uid==mensaje.emisor) ? 'enviado' : 'recibido'">
        <div class="mensaje-texto">
          {{mensaje.texto}}
        </div>
        <div class="mensaje-hora text-end">
          {{ mensaje.hora.toDate() | date:'HH:mm:ss' }}
        </div>
      </div>
    </div>
  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese su mensaje"
      [(ngModel)]="newmessage"
      [ngModelOptions]="{ standalone: true }"
    />
    <div class="input-group-append " (click)="enviarMensaje()">
      <img class="imgEnviar" src="../../../assets/enviar.png" alt="sen message" width="20px" />
    </div>
  </form>
</div>
