<header class="header-2">
    <div class="page-header">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <h3 style="font-size: 65px; color: white;">Sala de Juegos</h3>
            <h1 class="text-white pt-3 mt-n5" style="font-size: 85px;">Tu sitio <br/>preferido<br/> de videojuegos</h1>
            <button type="button" class="btn btn-danger">JUGAR YA</button>
          </div>
        </div>
      </div>
    </div>
  </header>