<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/ahorcado.png" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title 1</h5>
        <p class="card-text">Some quick example text for card 1.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/mayormenor.png" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <p class="card-text">Some quick example text for card 2.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/preguntado.png" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title 3</h5>
        <p class="card-text">Some quick example text for card 3.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>