<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card mb-3 mt-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/wily.jpg" class="img-fluid rounded-start" style="width: 100%; height: 480px; object-fit: cover" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="color: white;">
                  <h2 class="card-title " style="color: #e45635;">WILSON HUALLPA</h2>
                  <h3 class="card-title ">4° B</h3>
                  <hr />
                  <h4 class="card-title" style="color: #e45635;">Título del Juego: Juego de Memoria con Imágenes</h4>
                  <h5 class="card-title">Introducción:</h5>
                  <p class="card-text"> Este juego es una excelente herramienta para mejorar la memoria, la concentración y la agilidad mental, además de ser una forma divertida de aprender y recordar información de manera efectiva</p>
                  <h5 class="card-title">Objetivo del Juego:</h5>
                  <p class="card-text"> El objetivo principal del juego es emparejar imágenes idénticas ocultas en tarjetas o fichas dispersas en un tablero. El jugador debe encontrar todas las coincidencias en el menor tiempo posible. A medida que se van encontrando más pares, el nivel de dificultad aumenta, lo que lo convierte en un desafío gratificante.</p>

                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
 