<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 400px">
    <div class="card-body">
      <h2 class="text-center mb-4">Recuperar</h2>
      <form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Correo Electronico</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
          />

          <span
            *ngIf="
              recuperarUsuario.get('email')?.hasError('required') &&
              recuperarUsuario.get('email')?.touched
            "
            class="text-danger"
          >
            EL <strong>correo</strong> es requerido</span
          >
          <span
            *ngIf="
              recuperarUsuario.get('email')?.hasError('email') &&
              recuperarUsuario.get('email')?.touched
            "
            class="text-danger"
          >
            EL <strong>correo</strong> es invalido</span
          >
        </div>
        <button
          class="btn btn-primary w-100 btn-lg mb-3"
          type="submit"
          [disabled]="recuperarUsuario.invalid"
        >
          RECUPERAR
        </button>
      </form>
      <div class="text-center">
        <a routerLink="/login">Volver</a>
      </div>
    </div>
  </div>
</div>
