<div class="contenedor">
    <app-ahorcado-dibujar (gameFinished)="onGameFinished()" [guesses]="guesses" [question]="question"></app-ahorcado-dibujar>
    <ng-container *ngIf="!restartGameBtnShown else restartGameBtn">
        <app-ahorcado-pregunta [guesses]="guesses" [question]="question" ></app-ahorcado-pregunta>
        <app-ahorcado-keyboard (keyPressed)="guess($event)" [question]="question" ></app-ahorcado-keyboard>
    </ng-container>
</div>
<ng-template #restartGameBtn>
    <button class="btn" (click)="reset()">
      {{'>>Restart Game\<\<'}}
    </button>
  </ng-template>
