<header class="header-2">
    <div class="page-header">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img
                src="../../../assets/ahoracado.png"
                class="card-img-top"
                style="width: 100%; height: 220px; object-fit: cover"
                alt="Juego 1"
              />
              <div class="card-body text-center" style="color: white">
                <h5 class="card-title">Ahorcado</h5>
                <p class="card-text">
                  El juego del "Ahorcado" es un juego de adivinanza de palabras en
                  el que un jugador debe adivinar una palabra oculta, letra por
                  letra, antes de que se complete un dibujo de un ahorcado.
                </p>
                <hr />
                <a href="/juego1" class="btn btn-primary">Jugar</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src="../../../assets/mayormenor.png"
                class="card-img-top"
                style="width: 100%; height: 220px; object-fit: cover"
                alt="Juego 2"
              />
              <div class="card-body text-center" style="color: white">
                <h5 class="card-title">Mayor o Menor</h5>
                <p class="card-text">
                  El juego "Mayor o Menor" es un juego de adivinanza y estrategia
                  en el que los jugadores intentan adivinar si el siguiente número
                  será mayor o menor que el número actual.
                </p>
                <hr />
                <a href="/juego1" class="btn btn-primary">Jugar</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src="../../../assets/preguntado.png"
                class="card-img-top"
                style="width: 100%; height: 220px; object-fit: cover"
                alt="Juego 3"
              />
              <div class="card-body text-center" style="color: white">
                <h5 class="card-title">Preguntados</h5>
                <p class="card-text">
                  El juego "Preguntados" es un juego de preguntas y respuestas en
                  el que los jugadores ponen a prueba sus conocimientos en
                  diferentes categorías.
                </p>
                <hr />
                <a href="/juego1" class="btn btn-primary">Jugar</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src="../../../assets/memoria.png"
                class="card-img-top"
                style="width: 100%; height: 220px; object-fit: cover"
                alt="Juego 4"
              />
              <div class="card-body text-center" style="color: white">
                <h5 class="card-title">Memoria</h5>
                <p class="card-text">
                  El juego de memoria con imágenes es un juego de concentración y
                  memoria en el que los jugadores deben hacer coincidir pares de
                  cartas con imágenes idénticas o relacionadas en un conjunto de
                  cartas boca abajo.
                </p>
                <hr />
                <a href="/juego1" class="btn btn-primary">Jugar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  